#wrapper {
    max-width: 600px;
    margin: auto;
    background-color: #FBB631;
    text-align: center;
}
.table-center {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
}
header {
    padding: 20px 0;
}

tr, td {
    border: 1px solid black;
    height: 25px;
}

.href-button {
    background-color: #edf6ff; /* Цвет фона */
    color: #1b4268; /* Цвет текста */
    font: bold 0.8em Arial, Tahoma, sans-serif; /* Параметры шрифта */
    border: 1px solid #d4dde5; /* Параметры рамки */
    padding: 0.5rem 1.5rem; /* Расстояние от рамки до текста */
    text-decoration: none; /* Убираем подчёркивание */
    transition: 0.5s; /* Время перехода */
}
.href-button:hover {
    background-color: #f60; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-color: #f60; /* Цвет рамки */
}

